:root {
  --color-primary: #b02bbf;
  --color-primary-light: #d189d9;
  --color-primary-dark: #9300af;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --color-black: #000;
  --color-rust: #c15124; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-primary-dark); }

.logo {
  display: flex;
  align-items: center; }
  .logo__icon {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2em;
    background-color: var(--color-primary-dark); }
  .logo__text {
    margin-left: -2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-white); }

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.1rem; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > div:hover {
    background-color: var(--color-grey-dark-2); }
  .user-nav > div:hover .user-nav__icon {
    fill: var(--color-grey-dark-1); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__settings {
    margin-left: 0.75rem; }

.side-nav {
  list-style: none;
  margin-top: 3.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.container {
  max-width: 99.5%;
  min-height: 100%;
  margin: 0.5rem auto;
  background-color: var(--color-grey-light-1); }

.header {
  height: 6rem;
  background-color: var(--color-grey-dark-1);
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 10%;
  display: flex;
  flex-direction: column; }

.map-view {
  background-color: var(--color-white);
  flex: 1;
  min-height: calc(100vh - 6rem - (0.5rem * 2));
  background-image: url(../img/GoogleMap-1-1200x630-e1479510841629.jpg);
  background-size: cover; }
