.container {
  max-width: 99%;
  min-height: 100%;
  margin: $container-margin auto;

  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.header {
  height: $header-height;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 10%;

  display: flex;
  flex-direction: column;
}

.map-view {
  background-color: #fff;

  flex: 1;

  // testing
  // height: 80rem;
  min-height: calc(100vh - #{$header-height} - (#{$container-margin} * 2));
  background-color: lightgrey;
}
